<ul class="pager">
  	<%= render 'layouts/modal' %>
  		<li data-toggle="modal" data-target="#myModal"><%= link_to "Apply", "#" %></li>
  		<li><%= link_to "Next Startup", "#" %></li>
</ul>
<object data=http://www.surgeryedu.com width="100%" height="1000px"> <embed src=http://www.surgeryedu.com width="100%" height="100%"> </embed> Error: Embedded data could not be displayed. </object>"
	