
	<div class="container">
		<div class="jumbotron center" height="45px">
			<p>We connect amazing designers with amazing tech startups.</p>
			<p><%= link_to "Browse Startups", "browse", class: "btn btn-default btn-lg" %></p> 
			<p>Want to list your startup on our site? Let's <a href="mailto:rharan@umich.edu">get in touch</a>
			

			
		</div>
		
  
		
	</div>