<!-- SurgeryEdu Application Modal -->
<div class="modal fade" id="SurgeryEduModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title" id="myModalLabel">Apply to SurgeryEdu</h3>
      </div>
      <div class="modal-body">
        Submit your name, email, and porfolio to us below. We will be in touch with within the next couple of days with personalized information about how you can best position yourself for a job at SurgeryEdu!
        <!-- SurgeryEdu Modal Form -->
          <p><form role="modalform">
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Portfolio</label>
               <input type="text" class="form-control" placeholder="Enter porfolio link">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </p></form>
        <!-- /SurgeryEdu Modal Form -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Submit</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- /SurgeryEdu Application Modal -->

<!-- SurgeryEdu Hiring Info Modal -->
<div class="modal fade" id="SurgeryEduInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title" id="myModalLabel">SurgeryEdu Hiring Information</h3>
      </div>
      <div class="modal-body">
        <p>Design roles desired - 3D animator (full time)</p>
        <p>How you'll get paid - Equity and contract payment</p>
        <p>Location - Anywhere</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Submit</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- /SurgeryEdu Application Modal -->

<!-- Ignis Application Modal -->
<div class="modal fade" id="IgnisModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title" id="myModalLabel">Apply to Ignis</h3>
      </div>
      <div class="modal-body">
        Submit your name, email, and porfolio to us below. We will be in touch with within the next couple of days with personalized information about how you can best position yourself for a job at Ignis America!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Submit</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- /Ignis Application Modal -->

<!-- Ignis Hiring Info Modal -->
<div class="modal fade" id="IgnisInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title" id="myModalLabel">Ignis Hiring Information</h3>
      </div>
      <div class="modal-body">
        <p>Design roles desired - UI/UX Designer for iPhone/Android Apps (full time)</p>
        <p>How you'll get paid - Annual Salary</p>
        <p>Location - San Franssico, CA</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Submit</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- /Ignis Application Modal -->