<form role="modalform">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Portfolio</label>
    <input type="text" class="form-control" placeholder="Enter porfolio link">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>